body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("image/banner.webp") ;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.catagories {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.headings{
    text-align: center;
    color: #ffffff;

}
.h1 {
    text-align: center;
    margin-bottom: 20px;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: #400000;
}
.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #400000;
}
.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-form h2 {
    color: #800000;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #800000;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #800000;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #400000;
}

button {
    background-color: #800000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #400000;
}