:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
    --maroon: #8B0000;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

section {
    padding: 2rem .9%;
}

/* Search form CSS styles */
.search-form {
    display: none; /* Hide search form by default */
    position: absolute; /* Position the search form */
    top: .5rem; /* Set the top position */
    left: 100rem; /* Set the left position */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form input[type="search"] {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
}

.search-form label {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

/* Toggle search functionality CSS styles */
.header .search-form.active {
    display: block;
}

/* Button to toggle search CSS styles */
.btn {
    margin-top: .1rem;
    display: inline-block;
    padding: .8rem 1.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--maroon);
    color: #fff;
}
